aiohttp==3.8.4
aiohttp-socks==0.8.0
aiosignal==1.3.1
asttokens==3.0.0
async-timeout==4.0.3
attrs==25.3.0
backcall==0.2.0
beautifulsoup4==4.10.0
blis==0.7.11
catalogue==2.0.10
certifi==2025.4.26
charset-normalizer==2.0.12
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.4
confection==0.1.5
contourpy==1.1.1
cycler==0.12.1
cymem==2.0.11
dask==2023.3.2
decorator==5.2.1
dill==0.4.0
diskcache==5.2.1
dnspython==2.6.1
docopt==0.6.2
durations-nlp==1.0.1
executing==2.2.0
filelock==3.0.12
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2025.3.0
gcld3==3.0.13
greenlet==3.0.3
html2text==2020.1.16
html5lib==1.1
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipython==7.25.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
json5==0.9.25
kiwisolver==1.4.7
langcodes==3.4.1
langdetect==1.0.9
language_data==1.3.0
locket==1.0.0
lxml==5.3.0
marisa-trie==1.2.1
Markdown==3.3.4
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mongoengine==0.23.1
multidict==6.1.0
multiprocess==0.70.18
murmurhash==1.0.13
numpy==1.24.4
p_tqdm==1.4.2
packaging==25.0
pandas==1.3.3
parso==0.8.4
partd==1.4.1
pathlib_abc==0.1.1
pathos==0.3.4
pathvalidate==2.4.1
pathy==0.11.0
patsy==1.0.1
pexpect==4.9.0
pickleshare==0.7.5
Pillow==8.3.2
playwright==1.15.0
pox==0.3.6
ppft==1.7.7
preshed==3.0.10
prompt_toolkit==3.0.51
propcache==0.2.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pydantic==1.10.22
pyee==9.0.0
Pygments==2.19.1
pymongo==3.12.0
pyparsing==3.1.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-socks==2.7.1
pytz==2025.2
PyYAML==6.0.2
redis==3.5.3
requests==2.26.0
requests-file==2.1.0
rq==1.10.0
scikit-learn==1.1.1
scikit-posthocs==0.8.1
scipy==1.10.1
seaborn==0.13.2
six==1.17.0
smart-open==6.4.0
soupsieve==2.7
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.3
statsmodels==0.14.1
thinc==8.1.12
threadpoolctl==3.5.0
titlecase==2.4
tld==0.13
tldextract==3.1.2
toolz==1.0.0
tqdm==4.66.5
traitlets==5.14.3
typer==0.7.0
typing_extensions==4.13.2
tzdata==2025.2
ua-parser==0.18.0
urllib3==1.26.20
user-agents==2.2.0
wasabi==1.1.3
wcwidth==0.2.13
webencodings==0.5.1
websockets==13.1
xgboost==1.7.5
yarl==1.15.2
zipp==3.20.2
